<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Show info, warn, error logs of app -->
    <logger name="com.kemal" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>